@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

/* Dark Mode */
:root {
    --backgroundColor:          #000000;
    --color:                    #BB86FC;

    --thBackgroundColor:        #000000;
    --trOddBackgroundColor:     #242526;
    --trEvenBackgroundColor:    #3a3b3c;
}

/* Light Mode */
.light-theme {
    --backgroundColor:          #ffffff;
    --color:                    #000000;

    --thBackgroundColor:        #9394a5;
    --trOddBackgroundColor:     #d2d3db;
    --trEvenBackgroundColor:    #e4e5f1;
}

* {
    font-family: 'Federo';
    margin: 0 auto;
}

body {
    background-color: var(--backgroundColor);
    color: var(--color);
    font-size: 12px;
    padding: 15px;
}

h1 {
    font-size: 20px;
    text-align: center;
}

h2 {
    font-size: 16px;
    text-align: center;
}

h3 {
    font-size: 12px;
}

p {
    text-align: justify;
}

caption {
    text-align: center;
}

input {
    appearance: none;
    background-color: transparent;
    color: var(--color);
    font-size: 12px;
    text-align: right;
    width: 40px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}

.userInput:hover {
    opacity: 0.4;
}

table {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

th {
    background-color: var(--thBackgroundColor);
    color: var(--color);
    text-align: center;
}

tr:nth-child(odd) {
    background-color: var(--trOddBackgroundColor);
    color: var(--color);
}

tr:nth-child(odd) input[type=text]:focus {
    background-color: var(--trEvenBackgroundColor);
}

tr:nth-child(even) {
    background-color: var(--trEvenBackgroundColor);
    color: var(--color);
}

tr:nth-child(even) input[type=text]:focus {
    background-color: var(--trOddBackgroundColor);
}

td:first-child {
    font-weight: bold;
    text-align: right;
}

.properties {
    width: 25%;
}

.inputs {
    width: 20%;
}

.outputs {
    width: 20%;
}

.differences {
    width: 20%;
}

.units {
    width: 5%;
}

#lightmodedarkmodeicon {
    cursor: pointer;
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#lightmodedarkmodeicon:hover {
    opacity: 0.4;
}

hr.rounded {
    border-top: 5px;
    border-style: solid;
    border-color: var(--color);
    border-radius: 5px;
    width: 40%;
}

.slidecontainer {
    width: 80%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    background: var(--trEvenBackgroundColor);
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: var(--color);
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 16px;
        padding: 20px;
    }
    
    h1 {
        font-size: 32px;
        text-align: center;
    }
    
    h2 {
        font-size: 24px;
        text-align: center;
    }
    
    h3 {
        font-size: 16px;
    }
    
    p {
        width: 80%;
    }

    input {
        font-size: 16px;
        width: 60px;
    }
    
    table {
        padding-left: 20px;
        padding-right: 20px;
    }

    .slidecontainer {
        width: 60%;
    }

    .slider {
        height: 30px;
    }
    
    .slider::-webkit-slider-thumb {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (min-width: 1000px) {
    body {
        font-size: 20px;
        padding: 25px;
    }
    
    h1 {
        font-size: 44px;
        text-align: center;
    }
    
    h2 {
        font-size: 32px;
        text-align: center;
    }
    
    h3 {
        font-size: 24px;
    }
    
    p {
        width: 60%;
    }

    input {
        font-size: 20px;
        width: 80px;
    }
    
    table {
        padding-left: 25px;
        padding-right: 25px;
    }

    .slidecontainer {
        width: 40%;
    }

    .slider {
        height: 40px;
    }
    
    .slider::-webkit-slider-thumb {
        width: 40px;
        height: 40px;
    }
}